/*---------------------------------------- awards boxes ---------------------------------------------------*/

.box.award {
    position: relative;
    width: 16.05%;   
    overflow:hidden;
    margin:3px 0.3% ;
}


.centredIntro {
	width:60%;
	padding:50px 0 30px 20%;
	text-align: center;
}

.boxText a.readMore {
    font-size:1.2em;
    font-weight:300;
    color:white;
}

.pageContent img.boxImage {
    position:relative;
    width:40%;
    display:block;
    height:auto;
    padding:15% 30%;
    opacity:1;
}

.AwardsHolder .boxTextDivider {
	display:none;
}
.boxText {
	top:23%;
}
.boxText h2 {
	font-size:1em;
}
p.preadMore {
	color:white;
	position:absolute;
	font-size:0.9em;
	bottom:1%;
	width:100%;
	text-align:center;
}

@media (max-width: 820px) {
    .box.award {width:31%;margin:1.1%}
}
