
#animationWrapper {
    position: relative;
	width:100%;
	position:relative;
	background:#d1d2d3;
	margin-bottom:30px;
}

#animationWrapper:before {
    content: "";
    display: block;
    padding-top: 41%; 
}

.content{
    position:  absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.stub {
	position:absolute;
	top:38%;
	left:8%;
	width:18%;
	height:auto;
	animation: 18.5s ease 0s normal forwards 1 fadeoutlong;
}

.stub img, .base img {
	width:100%;
	height:auto;
}

.base {
	opacity:0;
	position:absolute;
	top:35.7%;
	left:26.3%;
	width:45.5%;
	height:auto;
}

.proactive {
	animation: 3s ease 0.5s normal forwards 1 fadeinout;
}
.procure {
	animation: 3s ease 3.5s normal forwards 1 fadeinout;
}
.professional {
	animation: 3s ease 6.5s normal forwards 1 fadeinout;
	left:26%;
}
.proficient {
	animation: 3s ease 9.5s normal forwards 1 fadeinout;
	left:26%;
}
.prose {
	animation: 3s ease 12.5s normal forwards 1 fadeinout;
	left:26.1%;
}
.proud {
	animation: 3s ease 15.5s normal forwards 1 fadeinout;
	left:26%;
}

.final {
	animation: 3s ease 18.5s normal forwards 1 fadeandstay;
	top:36%;
	width:56.5%;
	left:8%;

}

@keyframes fadeinout {
    0% {opacity:0;}
    25% {opacity:1;}
    75% {opacity:1;}
    100% {opacity:0;}	
}

@keyframes fadeandstay {
    0% {opacity:0;}
    25% {opacity:1;}
    100% {opacity:1;}
}

@keyframes fadeoutlong {
	0% {opacity:0;left:6%;}
	5% {left:8%;}
	10% {opacity:1;}
	95% {opacity:1;}
	100% {opacity:0;}

}
/*it's 2 % left at the start*/